{%extends "login/sitebase.html" %}

{% block content %}  
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Changed the Title to something more suitable-->
    <title>Covid-19 Advisory</title>
</head>

<div class="container pt-5">
    <div class="container text-center">
        <h1>COVID-19 Advisory</h1>
    </div>
    <div class="container p-3">      
    <h5>Information by the <abbr title="World Health Organization">WHO</abbr></h5>
    <p class="text-justify">Donec porta ante vitae nibh semper, et pharetra erat malesuada. Praesent ut magna id nibh suscipit mollis a id dolor. Mauris cursus tortor sed ultrices elementum. Ut fringilla pulvinar sapien, eu mattis enim iaculis ut. Mauris lacinia quis dui sed placerat.Duis iaculis neque sed semper tempor. Nam suscipit, libero at suscipit malesuada, nisi purus fringilla mauris, sit amet suscipit lectus lectus a purus. In in mauris ut velit lobortis laoreet.</p>
    </div>
</div>
{% endblock content %} 

 <!-- This is the bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>