{%extends "login/sitebase.html" %}

{% block content %}  
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Changed the Title to something more suitable-->
    <title>Covid-19 Advisory</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
</head>

<div class="container pt-5">
    <div class="container text-center">
        <h1>COVID-19 Advisory</h1>
    </div>
    <div class="container p-3">      
    <h4>Information by the <abbr title="World Health Organization">WHO</abbr></h4>
    <p class="text-justify">According to the World Health Organization, Coronavirus disease (COVID-19) is an infection disease caused by the SARS-CoV-2 virus. </p>
    <p class="text-justify">The virus can spread from an infected person's mouth or nose in small liquid particles when they cough, sneeze, speak, sing or breathe. These particles range from large respiratory droplets to smaller aerosols. </p>
    <p class="text-justify">Most people infected with the virus will experience mild to moderate respiratory illness and recover without requiring special treatment. However, some will become seriously ill and require medical attention. Older people and those with underlying medical conditions like cardiovascular disease, diabetes, chronic respiratory disease, or cancer are more likely to develop serious illness. Anyone can get sick with COVID-19 and become seriously ill or die at any age. The best way to prevent and slow down transmission is to be well informed about the disease and how the virus spreads.</p>

    <h4>Symtoms developed by infected COVID-19 Persons:</h4>
    <p class="text-justify"><u>Most common symptoms:</u></p>
    <ul>
    <li>Fever</li>
    <li>Cough</li>
    <li>Tiredness </li>
    <li>Loss of taste or smell.</li>
    </ul>
    <p class="text-justify"><u>Less common symptoms:</u></p>
    <ul>
    <li>Sore throat</li>
    <li>Headache</li>
    <li>Aches and pains </li>
    <li>Diarrhoea </li>
    <li>A rash on skin, or discolouration of fingers or toes</li>
    <li>Red or irritated eyes. </li>
    </ul>
    <p class="text-justify"><u>Serios symptoms:</u></p>
    <ul>
    <li>Difficulty breathing or shortness of breath</li>
    <li>Loss of speech or mobility or confusion</li>
    <li>Chest pains.</li>
    </ul>
    <div class="alert alert-primary d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div> 
            <p>Seek immediate medical attention if you have serious symptoms, making sure to call before visiting your doctor or health facility. </p>
            <p>People with mild symptoms who are otherwise healthy should manage their symptoms at home. </p>
            <p>On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.</p>  </div>
            </div>

    <h4>Infection Prevention</h4>
    <p class="text-justify">  To continue to stay aware of the latest COVID-19 information, regularly check updates from <a  href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" ><abbr title="World Health Organization">WHO</abbr></a> in addition to<a href="https://health.gov.tt/covid-19/covid-19-news-and-updates" > national and local</a>   public health authorities. <abbr title="World Health Organization">WHO</abbr> created a list of advice on ways to protect yourself and prevent the spread of COVID-19. </p>
    <h6>Protect yourself and others around you:</h6>
    <ul>
    <li>Get vaccinated as soon as it’s your turn.</li>
    <li>Keep physical distance of at least 1 metre from others, even if they don’t appear to be sick. Avoid crowds and close contact.</li>
    <li>Wear a properly fitted mask when in public as stated by the law of Trinidad and Tobago </li>
    <li>Clean your hands frequently with alcohol-based hand rub if soap and water is not available.</li>
    <li>Cover your mouth and nose with a bent elbow or tissue when you cough or sneeze. Dispose of used tissues immediately and clean hands regularly. </li>
    <li>If you develop symptoms or test positive for COVID-19, self-isolate until you recover.</li>
    <li>Avoid spaces that are closed, crowded or involve close contact.</li>
    </ul>

    <h6>To properly wear your mask:</h6>
    <ul>
    <li>Make sure your mask covers your nose, mouth and chin.</li>
    <li>Clean your hands before you put your mask on, before and after you take it off, and after you touch it at any time.</li>
    <li>Don’t use masks with valves. </li>
    <li>When you take off your mask, store it in a clean plastic bag, and every day either wash it if it’s a fabric mask or dispose of it in a trash bin if it’s a medical mask. </li>
    </ul>

    <h6>If you experience any of the range of symptoms or feel unwell:</h6>
    <ul>
    <li>Call the 877-WELL (9355) hotline for Trinidad and the 800-HEAL (4325) hotline for Tobago or visit <a href="http://www.news.gov.tt/content/covid-19-health-hotline-advisory#.YYyMS2DMJEY" > COVID-19 Health Hotline Advisory</a> for more information. </li>
    <li>Stay home and self-isolate for 10 days from symptom onset, plus three days after symptoms cease. Call your health care provider or hotline for advice. Have someone bring you supplies. If you need to leave your house or have someone near you, wear a properly fitted mask to avoid infecting others.</li>
    </ul>

    </div>
</div>
{% endblock content %} 

 <!-- This is the bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>