{%extends "login/sitebase.html" %}

{% block content %}  

<h1> Login or create account on this page, this is an html file.</h1>

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Make an account or sign in below to Book an Appointment </legend>
            {{ form }}
        </fieldset>>
        <div>
            <button class="btn btn-outline-info" type="submit"> Create Account </button>
        </div>>
    </form>    
</div>



{% endblock content %}



