{%extends "login/sitebase.html" %}

{% block content %}  

<!-- View results on this page, this is an html file. If there are no results here and even if there are , this is supposed to direct the user to book an appointment</h3> -->
<div class="container text-center fw-light p-5">
    <h1>View your Appointments<h1>
</div>

<div class="container pb-5">
    {% for appt in appt%}

    {% if user.id == appt.user_id	%}

    <p> Appointment for Mr./Mrs <mark>{{appt.fname}} {{appt.lname}}</mark> </p>
    <p> Had covid in the past 6 months:  <mark>{{appt.cov6}} </mark></p>
    <p> Heart Problems: <mark>{{appt.heart}} </mark> </p>
    <p> Chest pains:   <mark>{{ appt.chestpa }} </mark></p>
    <p> Contact number: <mark>{{appt.phon}} </mark></p>
    <p> Emergency contact number: <mark>{{appt.emephon}}</mark></p>

    {% if appt.apprequest %}

    {% if appt.appconfirmed %}

    {% if appt.tested %}

    {% if appt.result %}

    Your appointment has been sent to {{ user.email }}

    {% else %}

    <p>We are sorry but your results are not ready as yet.  </p>

    {% endif %}

    {% else %}
    <p> Your appointment has been confirmed and is scheduled for {{appt.appdate}} at {{appt.apptime}} </p> 
    {% endif %}

    {% else %}
    <p>  We are sorry but your appointment has been denied</p>
    {% endif %}

    {% else %}
    <p> Your appointment has not yet been confirmed</p>
    {% endif %}






    

    
    <p> -------------------------------------------------------------------- </p>

    {% else %}

    {% endif %}

    {% endfor %}

</div>

{% endblock content %} 